body {
    background-color: #fff;
    text-rendering: optimizeLegibility;
    display: flex;
    flex-direction: column;
}
#containerTexto{
    top: 310px;
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    background-color: #Fff;
}
#texto {
    padding: 0;
    margin: 0;
    max-width: 70%;
    background-color: #FFF;
}
#texto li{
    font: 16px Arial;
    font-size: 2vw;
}
p {
    font: 16px Arial;
    font-size: 2vw;
    padding: 0 ;
}

h1 {
    color: #19191C;
    font: 25px sans-serif;
    font-size: 4vw;
}
#image_grid{
    display: flex;
    background-color: #FFF;
    width: 100%;
}
.image_float{
    float: right;
    width: 30%;
    height: auto;
}
.link_texto{
    text-decoration: none;
    color: black;
    font: italic 15px Arial;
    font-size: 1vw;
}
.link_texto:hover{
    color: blue;
}
.image_above{
    width: 45%;
    height: auto;
}
@media screen and (min-device-width: 350px){
    .image_grid{
        margin: 0 5px;
        width: 31%;
        height: auto;
    }
}
@media screen and (max-device-width: 350px){
    .image_grid{
        margin: 0 5px;
        width: 31%;
        height: auto;
    }
}