footer {
  visibility: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    text-align: center;
    background-color: #F4f4f4;
    z-index: 2;
    position: relative;
    left: 0;
    bottom: 0;
    border-top: 1px solid;
    flex-direction: column;
  }
  #criado_por{
    color: black;
    font: 17px Arial;
    text-align: center;
  }
  #referencia{
    position: relative;
    top: 10px;
  }
  footer a{
    color: black;
    font: 16px Arial;
    text-decoration: none;
  }
  footer a:hover{
    color: #087CFA;
  }