#background_menu{
    height: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("/src/public/image/foto-aerea-aerea-de-uma-floresta-densa-com-belas-arvores-e-vegetacao_181624-2812.jpg");
    background-size: cover;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
}
#background_menu li{
padding: 0;
}
#menu {
    width: 100%;
    height: fit-content;
    z-index: 1;    
    background-color: rgba(75, 75, 75, 0.7);
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid #D4D4D4;
    left: 0;
}

#menu,
#menu ul {
    font-family: "Arial";
    margin: 0;
    /* margin inicial */
    padding: 0;
    /* espaço de dentro */
    list-style: none;
    /* Ícones da lista */
}

#menu li {
    position: relative;
    float: right;
    padding: 0;
}

#menu a {
    padding: 12px 30px;
    /*elementos flutuantes, altera padding*/
    float: left;
    /*Espaço dos elementos internos*/
    color: #fff;
    /*cor texto*/
    text-transform: uppercase;
    /*MAIÚSCULAS*/
    font: 20px Arial;
    font-size: 2vw;
    /*fonte*/
    text-decoration: none;
    /*nenhum estilo adicional*/
    border: 1px solid #CCCCCC;
    background-color: #4b4b4b;
    border-radius: 5px;
}

#menu a:hover {
    color: #000;
    background-color: #ccc;
    border-color: #000;
}
