#menu {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    z-index: 1;
    border-bottom: 1px solid #D4D4D4;
    top: 0;
    left: 0;
}

#menu,
#menu ul {
    font-family: "Arial";
    margin: 0;
    /* margin inicial */
    padding: 0;
    /* espaço de dentro */
    list-style: none;
    /* Ícones da lista */
}

#menu li {
    position: relative;
    float: left;
    padding: 0;
}

#menu a, i {
    /*elementos flutuantes, altera padding*/
    float: left;
    /*Espaço dos elementos internos*/
    color: #67686B;
    /*cor texto*/
    text-transform: uppercase;
    /*MAIÚSCULAS*/
    font: 20px Arial;
    font-size: 2vw;
    /*fonte*/
    text-decoration: none;
    /*nenhum estilo adicional*/

}

#menu a:hover {
    color: #087CFA;
}

@media screen and (max-device-width: 350px) {
    .itemIcone i :active .itemMenu {
        visibility: visible;
    }

    .itemIcone i{
        position: inherit;
        top: 12px;
        height: 20px;
        width: 20px;
    }
    .itemIcone i:hover{
        color: #087CFA;
    }

    .itemMenu {
        visibility: hidden;
    }

    .itemInicio a {
        padding: 12px 30px;
    }

}

@media screen and (min-device-width: 350px) {
    #menu a {
        padding: 12px 30px;
    }

    .itemIcone {
        width: 0;
        height: 0;
        visibility: hidden;
        padding: 0;
    }


}