footer {
    padding: 0;
    margin: 0;
    margin-top: 110px;
    width: 110%;
    display: flex;
    text-align: center;
    background-color: #F4f4f4;
    z-index: 2;
    position: relative;
    left: -5%;
    border-top: 1px solid;
    flex-direction: column;
  }
  #criado_por{
    color: black;
    font: 13px Arial;
    text-align: center;
  }
  #referencia{
    position: relative;
    top: 10px;
  }
  footer a{
    color: black;
    font: 16px Arial;
    text-decoration: none;
  }