body {
    background-color: #f4f4f4;
    text-rendering: optimizeLegibility;
}
#containerTexto{
    width: 100%;
    display: flex;
    background-color: aqua;
}
#texto {
    padding: 0;
    margin: 0;
    width: 500px;
    height: 500px;
    background-color: #F4f4f4;
    top: 15%;
    left: 10%;
    font-size: 5vw;
}

p {
    font-size: 4vw;
    padding: 0 ;
}

h1 {
    color: #19191C;
    font: 25px sans-serif;
}

#image {
    align-self: flex-end;
    background-color: black;
    width: 500px;
    height: 500px;
    margin: 10px;
}